In [2]:
# Variables, Data Types, and Typecasting
name = "Vanshika"
age = 25
is_student= True
print(name, age)

Vanshika 25

In [3]:
# typecasting

# str to int
x = int("10")

# int to str
y = str(25)

# float to int
z = int(3.9)

# list from string
lst = list("abc")

print(x, y, z, lst)

10 25 3 ['a', 'b', 'c']

In [4]:
# string

name = "Alice"
greeting = 'Hello'

# multiline string

mess = """This is
a multiline
string."""

print(name, greeting, mess)

Alice Hello This is
a multiline
string.

In [10]:
# string indexing and slicing

text = "Python"
text[0]
text[-1] 
text[0:2] 
text[:3] 
text[3:]

'hon'

In [12]:
# common string methods

a= "hello".upper()
b= " Hello ".strip()
c= "hello world".split()
d= "-".join(["2025", "04", "14"]) 
e= "python".find("th")

print(a, b, c, d, e)

HELLO Hello ['hello', 'world'] 2025-04-14 2

In [14]:
# string formatting

name = "Akansha"
age = 30
f"Hello, {name}. You are {age} years old."

'Hello, Akansha. You are 30 years old.'

In [15]:
# Operators in python

a= 10
b= 20

print(a + b) 
print(a - b) 
print(a * b) 
print(a / b)
print(a // b) 
print(a % b) 
print(a ** b)

30
-10
200
0.5
0
10
100000000000000000000

In [17]:
#Comparison operators

a=11
b=6

print(a == b) 
print(a != b )
print(a > b )
print(a < b)
print(a >= b )
print(a <= b)

False
True
True
False
True
False

In [18]:
# Logical operators

x= True
y= False

print(x and y )
print(x or y )
print(not x )

False
True
False

In [19]:
#Bitwise operators

a=5
b=3

print(a&b)
print(a|b)

1
7

In [22]:
# Assignment operators

a=10

a = 5
print(a)
a+= 5
print(a)
a -= 5
print(a)
a *= 5 
print(a)
a /= 5 
print(a)
a //= 5
print(a)
a %= 5
print(a)
a **= 5
print(a)

5
10
5
25
5.0
1.0
1.0
1.0

In [24]:
#Membership and identity operators

lst=[1,2,3]
x=2

print(x in lst) 
print(x not in lst) 

a=10
b=10

print(a is b) 
print(a is not b)

True
False
True
False