In [2]:
# Variables, Data Types, and Typecasting
name = "Vanshika"
age = 25
is_student= True
print(name, age)

Vanshika 25

In [3]:
# typecasting

# str to int
x = int("10")

# int to str
y = str(25)

# float to int
z = int(3.9)

# list from string
lst = list("abc")

print(x, y, z, lst)

10 25 3 ['a', 'b', 'c']

In [4]:
# string

name = "Alice"
greeting = 'Hello'

# multiline string

mess = """This is
a multiline
string."""

print(name, greeting, mess)

Alice Hello This is
a multiline
string.

In [10]:
# string indexing and slicing

text = "Python"
text[0]
text[-1] 
text[0:2] 
text[:3] 
text[3:]

'hon'

In [12]:
# common string methods

a= "hello".upper()
b= " Hello ".strip()
c= "hello world".split()
d= "-".join(["2025", "04", "14"]) 
e= "python".find("th")

print(a, b, c, d, e)

HELLO Hello ['hello', 'world'] 2025-04-14 2

In [14]:
# string formatting

name = "Akansha"
age = 30
f"Hello, {name}. You are {age} years old."

'Hello, Akansha. You are 30 years old.'

In [15]:
# Operators in python

a= 10
b= 20

print(a + b) 
print(a - b) 
print(a * b) 
print(a / b)
print(a // b) 
print(a % b) 
print(a ** b)

30
-10
200
0.5
0
10
100000000000000000000

In [17]:
#Comparison operators

a=11
b=6

print(a == b) 
print(a != b )
print(a > b )
print(a < b)
print(a >= b )
print(a <= b)

False
True
True
False
True
False

In [18]:
# Logical operators

x= True
y= False

print(x and y )
print(x or y )
print(not x )

False
True
False

In [19]:
#Bitwise operators

a=5
b=3

print(a&b)
print(a|b)

1
7

In [22]:
# Assignment operators

a=10

a = 5
print(a)
a+= 5
print(a)
a -= 5
print(a)
a *= 5 
print(a)
a /= 5 
print(a)
a //= 5
print(a)
a %= 5
print(a)
a **= 5
print(a)

5
10
5
25
5.0
1.0
1.0
1.0

In [24]:
#Membership and identity operators

lst=[1,2,3]
x=2

print(x in lst) 
print(x not in lst) 

a=10
b=10

print(a is b) 
print(a is not b)

True
False
True
False

In [1]:
# taking input from user

name = input("Enter your name")
print("Hello", name)

Enter your name Vanshika

Hello Vanshika

In [3]:
# Type conversion

age= int(input("Enter your age"))
price= float(input("Enter the price of book"))
print(f"You are {age} year old")
print("The price of book is", price)

Enter your age 20
Enter the price of book 200

You are 20 year old
The price of book is 200.0

In [4]:
# Operator precedence

result = 10 + 2 * 3 
print(result)
result = (10 + 2) * 3 
print(result)
result = 2 ** 3 ** 2 
print(result)

16
36
512

In [6]:
# If statement

x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [7]:
# If-else statement

x = 3
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is not greater than 5

In [8]:
# If-elif-else statement

x = 5
if x > 10:
    print("x is greater than 10")
elif x > 5:
    print("x is greater than 5 but not more than 10")
elif x == 5:
    print("x is exactly 5")
else:
    print("x is less than 5")

x is exactly 5

In [9]:
# Example: Categorizing data

age = 25
if age < 18:
    category = "Minor"
elif age < 65:
    category = "Adult"
else:
    category = "Senior Citizen"
print("Category:", category)

Category: Adult

In [20]:
pip install pandas

Requirement already satisfied: pandas in c:\users\vansh\anaconda3\envs\vanshikaenv\lib\site-packages (3.0.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\vansh\anaconda3\envs\vanshikaenv\lib\site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vansh\anaconda3\envs\vanshikaenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\vansh\anaconda3\envs\vanshikaenv\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\vansh\anaconda3\envs\vanshikaenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [21]:
# Applying conditions on Pandas Dataframe

import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Score': [85, 40, 75]}
df = pd.DataFrame(data)

df['Result'] = df['Score'].apply(lambda x: 'Pass' if x >= 50 else 'Fail')
print(df)

      Name  Score Result
0    Alice     85   Pass
1      Bob     40   Fail
2  Charlie     75   Pass

In [2]:
# Match-case statements

def http_status(code):
    match code:
        case 200:
            return "OK"
        case 400:
            return "Bad request."
        case 404:
            return "Not Found."
        case 500:
            return "Internal Server Error."
        case _:
            return "Unknown Status."
            
print(http_status(200))
print(http_status(404))

OK
Not Found

In [3]:
# Match case example

point= (3, 4)

match point:
    case(0,0):
        print("Origin")
    case(x,0):
        print(f"X-Axis at {x}")
    case(0,y):
        print(f"Y-Axis at {y}")
    case(x,y):
        print(f"Point at {x}, {y}")

Point at 3, 4

In [4]:
# String Formatting and F-Strings

# Using format()

name = "Alisa"
age = 24
print("My name is {} and I am {} years old.".format(name, age))

My name is Alisa and I am 24 years old.

In [6]:
# Positional and Keyword Arguments

print("{0} is learning {1}".format("Alina", "Python")) 
print("{name} is learning {language}".format(name="Alina", language="Python"))

Alina is learning Python
Alina is learning Python

In [7]:
# Using f-Strings

name = "Vanshika"
age = 21
print(f"My name is {name} and I am {age} years old.")

My name is Vanshika and I am 21 years old.

In [8]:
# Expressions Inside f-Strings

a = 5
b = 10
print(f"Sum of {a} and {b} is {a + b}")

Sum of 5 and 10 is 15

In [9]:
# Formatting Numbers

pi = 3.14159
print(f"Pi rounded to 2 decimal places: {pi:.2f}")

Pi rounded to 2 decimal places: 3.14

In [10]:
# Padding and Alignment

print(f"{'Python':<10}") 
print(f"{'Python':>10}") 
print(f"{'Python':^10}")

Python
    Python
  Python

In [11]:
# Loops in Python

# 1. For Loop

fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [13]:
# Using range()

for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
# 2. While Loop

count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [16]:
# 3. Loop Control Statements

for i in range(5):
    if i == 3:
        break 
    print(i)

0
1
2

In [19]:
# List and List Methods

my_list= []
n= [1, 2, 3, 4, 5]
mixed_list= [1, "Hello", 3.14, True]

print(mixed_list)

[1, 'Hello', 3.14, True]

In [20]:
# Example

fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits) 
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange']